<body>  
  <div class="header">Instapic of RAKOTOARIVO ANDRIATIANA Vatosoa Armelle ESIIA5</div>
    <img src="../assets/images/myprofil.jpg" alt="" id="profil">
    <section class="wrapper">
        <div class="card">
            <img src="../assets/images/bugati.jpg" alt="">
            <div class="info">
                <h1>Vroom</h1>
                <p>My Cars Album</p>
                <a href="#car" class="btn">Watch album</a>
            </div>
        </div>
        <div class="card">
            <img src="../assets/images/jupes.jpg" alt="">
            <div class="info">
                <h1>Chic</h1>
                <p>My Clothes Album</p>
                <a href="#sport" class="btn">Watch album</a>
            </div>
        </div>
        <div class="card">
            <img src="../assets/images/icechoco.jpg" alt="">
            <div class="info">
                <h1>Miam</h1>
                <p>My Foods Album</p>
                <a href="#food" class="btn">Watch album</a>
            </div>
        </div>
        <div class="card">
            <img src="../assets/images/majunga.jpg" alt="">
            <div class="info">
                <h1>Waouh</h1>
                <p>My Landscapes Album</p>
                <a href="#travel" class="btn">Watch album</a>
            </div>
        </div>
    </section>
    <div class="header" id="car">My Cars Album</div>
    <section class="slidershow middle">
        <div class="slides">
          <input type="radio" name="r" id="r1" checked>
          <input type="radio" name="r" id="r2">
          <input type="radio" name="r" id="r3">
          <input type="radio" name="r" id="r4">
          <input type="radio" name="r" id="r5">
          <div class="slide s1">
            <img src="../assets/images/bugati.jpg" alt="">
          </div>
          <div class="slide">
            <img src="../assets/images/jeep.jpg" alt="">
          </div>
          <div class="slide">
            <img src="../assets/images/redcar.jpg" alt="">
          </div>
        </div>
  
        <div class="navigation">
          <label for="r1" class="bar"></label>
          <label for="r2" class="bar"></label>
          <label for="r3" class="bar"></label>
        </div>
    </section>
      <div class="header" id="sport">My Clothes Album</div>
      <section class="row">
            <div class="col-md-3">
                <div class="single-album">
                    <div class="album-img">
                        <img src="../assets/images/maddy1.jpg" alt="">
                    </div>
                    <div class="album-content">
                        <div class="album-info">
                            <h3>Black</h3>
                            <p>Black</p>
                        </div>
                        <p class="album-text">Clothes</p>
                    </div>   
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="single-album">
                    <div class="album-img">
                        <img src="../assets/images/maddy2.jpg" alt="">
                    </div>
                    <div class="album-content">
                        <div class="album-info">
                            <h3>Pink</h3>
                            <p>Pink</p>
                        </div>
                        <p class="album-text">Dress</p>
                    </div>   
                </div>
            </div>

            <div class="col-md-3">
                <div class="single-album">
                    <div class="album-img">
                        <img src="../assets/images/robe.jpg" alt="">
                    </div>
                    <div class="album-content">
                        <div class="album-info">
                            <h3>Black</h3>
                            <p>Black</p>
                        </div>
                        <p class="album-text">Dress</p>
                    </div>   
                </div>
            </div>
			
			<div class="col-md-3">
                <div class="single-album">
                    <div class="album-img">
                        <img src="../assets/images/fashion.jpg" alt="">
                    </div>
                    <div class="album-content">
                        <div class="album-info">
                            <h3>Grey</h3>
                            <p>Grey</p>
                        </div>
                        <p class="album-text">Costume</p>
                    </div>   
                </div>
            </div>
			
        </section>
      <div class="header" ></div>
      <section class="gallery-section" id="food">
        <div class="inner-width">
          <h1>My Foods Album</h1>
          <div class="border"></div>
          <div class="gallery">
  
            <a href="../assets/images/crevette.jpg" class="image">
              <img src="../assets/images/crevette.jpg" alt="">
            </a>
  
            <a href="../assets/images/cocajus.jpg" class="image">
              <img src="../assets/images/cocajus.jpg" alt="">
            </a>
  
            <a href="../assets/images/icechoco.jpg" class="image">
              <img src="../assets/images/icechoco.jpg" alt="">
            </a>
			
          </div>
        </div>
    </section>

      <div class="header" id="travel">My Landscapes Album</div>
      <section class="slider">
          <figure>
              <img src="../assets/images/majunga.jpg" alt="">
              <img src="../assets/images/foulpointe.jpg" alt="">
              <img src="../assets/images/diego.jpg" alt="">
              <img src="../assets/images/morondava.jpg" alt="">  
          </figure>
      </section>
      <footer>
        <span>Armelle RAKOTOARIVO | <span class="copyright">copyright © My WebInstapic creation 2021.</span> 
        </span>
    </footer>
</body>